.body
{
    background-color:beige;
    font-family: Arial, Helvetica, sans-serif;
}

.caixa-titulo
{
    background-color: darkorange;
    color: rgb(205, 249, 255);
    text-align: center;
    padding: 10px;
}

.curso-tabela
{
    width: 100%;
    background-color: rgba(99, 179, 176, 0.89);
    border-collapse: collapse;
    margin-top: 20px;
}

th
{
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-color: royalblue;
    padding: 10px;
}

td
{
    
    border-width: 1px;
    border-style: solid;
    border-color: blue;
    padding: 10px;
}

td:hover
{
    background-color: sandybrown;
    cursor: pointer;
}

p
{
    color: #666;
}

img
{
    width: 50%;
    display: block;
    margin: 0px auto;
}